* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  height: 420px;
}
body {
  background-color: #ffa940;
}
.co1,
.co2 {
    margin-top: -30px;
}
.co1 {
  height: 180px;
  margin-left: -40px;
}
.co2 {
  height: 220px;
  margin-top: -60px;
}
.titlesukien {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  color: #fff;
  margin-top: 60px;
}
.btnxemchitiet {
  height: 30px;
  width: 150px;
  background-color: red;
  color: #fff;
  margin-top: 10px;
  margin-left: -5px;
}
.card {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: -30px;
}
.cardsukien {
  height: 350px;
  width: 230px;
}

.cardchitietsukien {
  background-color: #fff6d4;
  height: 400px;
  width: 1300px;
  margin-left: 110px;
  margin-top: 150px;
  border-radius: 20px;
  position: absolute;
}
.textchitietsukien {
  margin-left: 20px;
  margin-top: 40px;
}
