* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: 'iCiel Koni';
    src: url('/public/font/iCiel\ Koni\ Black.otf') format('truetype'); /* Thay đổi đường dẫn đến file font chữ tương ứng */
    /* Nếu có các định dạng font khác (ví dụ: woff, woff2), hãy thêm các dòng src tương ứng ở đây */
    /* Ví dụ: src: url('/path/to/icielkoni.woff') format('woff'); */
  }
.titlethanhtoanthanhcong {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'iCiel Koni';
  font-size: 50px;
  color: #fff;
  margin-top: 30px;
}
.boxQR {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.layoutQR{
    display: flex;
}
.layoutcard{
    margin-left: 150px;
    height: 470px;
}
.QR{
    display: flex;
    justify-content: space-evenly;
}
.cardQR{
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff;
    margin-left: 0px;
    position: relative;
    height: 380px;
    width: 220px;
    margin-left: 5px;
}
.btnimgtrai{
    margin: 20px;
    margin-top: 200px;
}
.btnimgphai{
    margin: 20px;
    margin-top: 200px;
    margin-left: 150px;
}
.buttonthanhtoanthanhcong{
    height: 40px;
    width: 150px;
    margin-top: 20px;
    background-color: red;
    color:#fff
}
.bannamtocnau{
    position: absolute;
    margin-top: 40px;
    margin-left: -200px;
    height: 450px;
}